#jq_act_sheet {
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	background: black;
	float: left;
	z-index: 1000000;
	background: #fff;
	font-size: 32px;
}
#jq_act_sheet a {
	display: block;
	padding-left:30px;
	height: 48px;
	color: #0c2343;
	line-height: 48px;
	font-weight: bold;
	text-decoration: none;
}
#jq_act_sheet hr {
	margin: 0 10px;
	border: 1px dashed #dedede;
}
#jq_act_sheet .as_content {
	clear: both;
	color: red;
}
#jq_act_sheet h5 {
	color: #fff;
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 24px;
	text-align: center;
	display: block;
}
#jq_act_sheet .sheetTitle {
	width: 100%;
	height: 48px;
	font-family: 'Eurostile-Black', Eurostile, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 24px;
	line-height: 48px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 25, 33, 1)), to(rgba(14, 23, 32, 1)), color-stop(.5, rgba(27, 36, 46, 1)), color-stop(.5, rgba(14, 23, 32, 1)));
	-webkit-box-shadow: 0px 0px 24px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 24px rgba(0,0,0,0.8);
	background-color: rgba(10,80,220,1);
}
#jq_act_sheet a.selected {
	background-color: rgba(150,150,150,1);
}
#jq_act_sheet a.cancel {
	position: absolute;
	right: 20px;
	top: 0;
	padding:0 8px;
	min-width: 55px;
	height: 36px;
	line-height: 36px;
}
#jq_act_sheet a.cancel.selected {
	background-color: rgba(73,73,73,1);
}
#jq_act_sheet a.red {
	color: white;
	background-color: rgba(204,0,0,1);
}
#jq_act_sheet a.red.selected {
	background-color: rgba(255,0,0,1);
}