@mixin test {
  border:1px solid red;
} 
#__calendarPanel{
  font-size:28px;
  // background:#fff;
}
#__calendarTable th.title{
  width:100%;
  text-align:center;
  height:80px;
  background-color:#09549c;
  // color:#fff;
  font-size:32px;
  font-weight:normal;
  // @include test;
  select{
    width:140px;
    height:60px;
    margin:10px;
    font-size:28px;  
    display:none;
  }
  div{
    margin:auto;
    width:610px;    
    span#showYear{
      margin:0;
      padding:0;
      display:inline-block;
      width:230px;
      line-height:84px;
      height:84px;
      background: #09549c url(img/date_bg.png) repeat-x;
    }     
    a#goPrevMonthButton{
      display:block;
      float:left;
      // margin-left:20px;
      background:#09549c url(img/preMonth.png) no-repeat;
      height:84px;
      width:188px;
    }
      a#goNextMonthButton{
         margin:0;
        display:block;
        background:#09549c url(img/nextMonth.png) no-repeat;
        float:right;
        height:84px;
        width:192px;
    }
  }
}
 #__calendarTable th.weekTitle{
   background:#EFEFEF;
   color:#000;
   height:40px;
    
 }

#__calendarTable td {
  border:1px solid #dedede;
}

#__calendarTable th {
  background: #09549c;
}


#selectTodayButton,#clearButton,#closeButton{
  display:none;
}
