#__calendarPanel {
  background: #fff;
  color: #000;
  border: 1px solid red; }

#__calendarTable th.title {
  background: blue; }

#__calendarTable th.weekTitle {
  background: #949594;
  height: 40px; }
