#__calendarPanel {
  font-size: 28px;
  color:#000; 
  }

#__calendarTable th.title {
  width: 100%;
  text-align: center;
  height: 80px;
  background-color: #09549c;
  font-size: 32px;
  font-weight: normal; }
  #__calendarTable th.title select {
    width: 140px;
    height: 60px;
    margin: 10px;
    font-size: 28px;
    display: none; }
  #__calendarTable th.title div {
    margin: auto;
    width: 610px; }
    #__calendarTable th.title div span#showYear {
      color:#0c2343;
      margin: 0;
      padding: 0;
      display: inline-block;
      width: 230px;
      line-height: 84px;
      height: 84px;
      background: #09549c url(img/date_bg.png) repeat-x; }
    #__calendarTable th.title div a#goPrevMonthButton {
      background: #09549c url(img/preMonth.png) no-repeat;
      display: block;
      float: left;
      height: 84px;
      width: 188px; }
      #__calendarTable th.title div a#goPrevMonthButton:active{    
      	 background: #09549c url(img/preMonth_press.png) no-repeat;
      }
    #__calendarTable th.title div a#goNextMonthButton {
      background: #09549c url(img/nextMonth.png) no-repeat;
      margin: 0;
      display: block;
      float: right;
      height: 84px;
      width: 192px; }
      #__calendarTable th.title div a#goNextMonthButton:active{
      
      	 background: #09549c url(img/nextMonth_press.png) no-repeat;
      }

#__calendarTable th.weekTitle {
  background: #EFEFEF;
  color: #000;
  height: 40px; }

#__calendarTable td {
  border: 1px solid #dedede; }

#__calendarTable th {
  background: #09549c; }

#selectTodayButton, #clearButton, #closeButton {
  display: none; }
